In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('../data/train.csv')
print(df.shape)
df.head()

(76518, 38)

,id,Marital status,Application mode,Application order,Course,Daytime/evening attendance,Previous qualification,Previous qualification (grade),Nacionality,Mother's qualification,...,Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target
0,0,1,1,1,9238,1,1,126.0,1,1,...,0,6,7,6,12.428571,0,11.1,0.6,2.02,Graduate
1,1,1,17,1,9238,1,1,125.0,1,19,...,0,6,9,0,0.000000,0,11.1,0.6,2.02,Dropout
2,2,1,17,2,9254,1,1,137.0,1,3,...,0,6,0,0,0.000000,0,16.2,0.3,-0.92,Dropout
3,3,1,1,3,9500,1,1,131.0,1,19,...,0,8,11,7,12.820000,0,11.1,0.6,2.02,Enrolled
4,4,1,1,2,9500,1,1,132.0,1,19,...,0,7,12,6,12.933333,0,7.6,2.6,0.32,Graduate

In [18]:
df.columns = df.columns.str.lower().str.replace(' ', '_').str.replace('.', '')

df.columns

#Phew, found the original website.

Index(['id', 'marital_status', 'application_mode', 'application_order',
       'course', 'daytime/evening_attendance', 'previous_qualification',
       'previous_qualification_(grade)', 'nacionality',
       'mother's_qualification', 'father's_qualification',
       'mother's_occupation', 'father's_occupation', 'admission_grade',
       'displaced', 'educational_special_needs', 'debtor',
       'tuition_fees_up_to_date', 'gender', 'scholarship_holder',
       'age_at_enrollment', 'international',
       'curricular_units_1st_sem_(credited)',
       'curricular_units_1st_sem_(enrolled)',
       'curricular_units_1st_sem_(evaluations)',
       'curricular_units_1st_sem_(approved)',
       'curricular_units_1st_sem_(grade)',
       'curricular_units_1st_sem_(without_evaluations)',
       'curricular_units_2nd_sem_(credited)',
       'curricular_units_2nd_sem_(enrolled)',
       'curricular_units_2nd_sem_(evaluations)',
       'curricular_units_2nd_sem_(approved)',
       'curricular_units_2nd_sem_(grade)',
       'curricular_units_2nd_sem_(without_evaluations)', 'unemployment_rate',
       'inflation_rate', 'gdp', 'target'],
      dtype='object')

In [13]:
for i in df.columns:
    if df[i].dtypes == 'object':
        print(f"{i} is actually an object.")

Target is actually an object.

Hmm, so everything else looks like it'll be some numeric value (inc. booleans). That will make things easier. Reminder to when we're cleaning up the data to convert target to a numeric representation.

In [15]:
exceptions = ['id']

for i in df.columns:
    if len(df[i].unique()) == df.shape[0] and i not in exceptions:
        df = df.drop([i], axis=1) #Not adding anything to our model... Hmm, now that I think about it, let's make this better:
        print(f"Just dropped {i} as it wasn't adding any value whatsoever to our model.")
    else:
        print(f"Well, {i} has {len(df[i].unique())} unique fields, so we'll keep it...for now!")

Well, id has 76518 unique fields, so we'll keep it...for now!
Well, Marital status has 6 unique fields, so we'll keep it...for now!
Well, Application mode has 22 unique fields, so we'll keep it...for now!
Well, Application order has 8 unique fields, so we'll keep it...for now!
Well, Course has 19 unique fields, so we'll keep it...for now!
Well, Daytime/evening attendance has 2 unique fields, so we'll keep it...for now!
Well, Previous qualification has 21 unique fields, so we'll keep it...for now!
Well, Previous qualification (grade) has 110 unique fields, so we'll keep it...for now!
Well, Nacionality has 18 unique fields, so we'll keep it...for now!
Well, Mother's qualification has 35 unique fields, so we'll keep it...for now!
Well, Father's qualification has 39 unique fields, so we'll keep it...for now!
Well, Mother's occupation has 40 unique fields, so we'll keep it...for now!
Well, Father's occupation has 56 unique fields, so we'll keep it...for now!
Well, Admission grade has 668 unique fields, so we'll keep it...for now!
Well, Displaced has 2 unique fields, so we'll keep it...for now!
Well, Educational special needs has 2 unique fields, so we'll keep it...for now!
Well, Debtor has 2 unique fields, so we'll keep it...for now!
Well, Tuition fees up to date has 2 unique fields, so we'll keep it...for now!
Well, Gender has 2 unique fields, so we'll keep it...for now!
Well, Scholarship holder has 2 unique fields, so we'll keep it...for now!
Well, Age at enrollment has 46 unique fields, so we'll keep it...for now!
Well, International has 2 unique fields, so we'll keep it...for now!
Well, Curricular units 1st sem (credited) has 21 unique fields, so we'll keep it...for now!
Well, Curricular units 1st sem (enrolled) has 24 unique fields, so we'll keep it...for now!
Well, Curricular units 1st sem (evaluations) has 36 unique fields, so we'll keep it...for now!
Well, Curricular units 1st sem (approved) has 23 unique fields, so we'll keep it...for now!
Well, Curricular units 1st sem (grade) has 1206 unique fields, so we'll keep it...for now!
Well, Curricular units 1st sem (without evaluations) has 12 unique fields, so we'll keep it...for now!
Well, Curricular units 2nd sem (credited) has 20 unique fields, so we'll keep it...for now!
Well, Curricular units 2nd sem (enrolled) has 22 unique fields, so we'll keep it...for now!
Well, Curricular units 2nd sem (evaluations) has 31 unique fields, so we'll keep it...for now!
Well, Curricular units 2nd sem (approved) has 21 unique fields, so we'll keep it...for now!
Well, Curricular units 2nd sem (grade) has 1234 unique fields, so we'll keep it...for now!
Well, Curricular units 2nd sem (without evaluations) has 11 unique fields, so we'll keep it...for now!
Well, Unemployment rate has 11 unique fields, so we'll keep it...for now!
Well, Inflation rate has 13 unique fields, so we'll keep it...for now!
Well, GDP has 11 unique fields, so we'll keep it...for now!
Well, Target has 3 unique fields, so we'll keep it...for now!

Decent amount of unique fields for each one. Recall that we have 76k data points to work it, so expecting/hoping to see overwhelmingmajority of them to have recent representation.

In [27]:
if sum(df.isnull().sum())==0:
    print("Phew, no nulls.")
else:
    print(df.columns[df.isnull().any()]) #Should be done with general stuff. Onto individualized eda. Starting with our targe.

Phew, no nulls.

In [20]:
df['target'].value_counts() #Hmm, quite a lot of enrolled. Guess the 'data' was meant to just see if we can distinguish the
#various possibilities. Iemor likely to be single...

#Of note also is the vast amount of dropouts.... perhaps snythetic but still... what kind of school is this?!!?

target
Graduate    36282
Dropout     25296
Enrolled    14940
Name: count, dtype: int64

In [29]:
i = 1

In [34]:
# df.iloc[:, i:i+5].apply(pd.Series.value_counts) #Eh, when all over like with course won' work out...
#Off hand I suppose I'll neeed to look at these somwhat individually; well, perhaps I can go through and parse them to see
#what's categorical and look at those in a similar manner. So too with whatever other similar types...

In [ ]:
df.head()